:root {
    --pink-color: #ff516e;
    --pink2-color:#d1455c;
    --gray1-color: #e2e2e2;
    --dark-gray:#383648;
}

  body {
    background-color: var(--gray1-color);
}

._pink {
    color: var(--pink-color);
}

.col_button{    
    padding-top: 12px;
    padding-bottom: 12px;
}

.right {
    text-align: right;
}

.box {
    padding-left: 10px;
    padding-right: 10px;
    border: 0.0px dotted red;
}

.box-shadow {
    padding: 0px 0.26vw 0px 0.26vw !important;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: .25rem !important;
    background-color: white;
}

.box-shadow2 {
    padding: 2.06vh 1.05vw 2.06vh 1.05vw !important;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: .25rem !important;
    background-color: white;
}

input {
    height: 30px;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    padding: 11px 11px 11px 11px !important;
}

div.SingleDatePickerInput {
    border: none !important;
}

.p-bottom {
    padding-bottom: 5px;
}

/* color rosado en el boton apply changes */
#changes_button {
    background-color: var(--pink-color);
    border-color:var(--pink2-color);
}

/* color rosado en el boton apply changes:hover */
#changes_button:hover {
    background-color: var(--pink2-color);
    border-color:var(--pink2-color);
}

/* color blanco en el boton clear changes */
#clear_button {
    background-color: white; 
    /* var(--gray1-color); */
    border-color:var(--pink2-color);
    color: var(--pink2-color);
}

/* color rosado en el boton clear changes:hover */
#clear_button:hover {
    background-color: var(--pink2-color);
    border-color:var(--pink2-color);
    color: #fff;
}

/* cambia el margin en el hr */
#page-content > div > div:nth-child(2) > div.box.test1.col-md-4 > div > hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* cambia el color de las fechas seleccionadas en el calendario */
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover{
    background: var(--pink-color) !important;
    border: 1px double var(--pink-color) !important;
    color: #fff !important;
}

/* oculta un boton en la esquina de la selección de fechas */
div.DayPicker_focusRegion.DayPicker_focusRegion_1 > div:nth-child(3) > button {
    display: none !important;
}

.daq-numericinput--light__input {
    color:#757575 !important;
}

.seccion_links div a {
    font-weight: normal;
}

#map {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container-map {
    /* padding: 7.0vh 0vw 7.0vh 0vw !important; */
    background-color: var(--gray1-color);
    /* background-color: red; */
}

#logo_mintic, #logo_ds4a{
    height: 100%;
    max-height: 6.5vh;
    float: right;
    padding-left: 1.5vw;
}

.container-logos{
    padding-right: 0;
}

#container-title {
    padding-top: 2.0vh;
    padding-left: 0.0vh;
    border-bottom: 3px solid var(--pink-color);
    margin-bottom: 2.0vh;
}

.home_text {
    color: var(--dark-gray);
    padding-left: 1.5vw;
    text-align: justify;
}

/* --------------------------------------------------- */

.tab-border {
    padding: 1rem 1rem 1rem 1rem !important;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: .25rem !important;
    border-top-left-radius: 0px !important;
}

.tab-border2 {
    padding: 1rem 1rem 0rem 1rem !important;
    border-radius: .25rem !important;
    border-top-left-radius: 0px !important;
}

.nav{
    border: 0px !important;
}

li > a.nav-link.active, a.nav-link.active:hover{
    pointer-events: none;
    border: 0px !important;
    border-bottom: 3px solid var(--pink-color) !important;
    background-color: white;   
}

li > a.nav-link {
    border: 0px !important;
    border-bottom: 3px solid transparent !important;
}

li > a.nav-link:hover {
    border: 1px solid var(--gray1-color) !important;
    border-bottom: 0px !important;
}

li.nav-item{
    margin-bottom: 0px !important;
}

.card-box-border {
    padding: 1rem 1rem 1rem 1rem !important;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: .25rem !important;
    background-color: white;
}

.no-side-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.test { border: 1.0px dashed var(--pink-color); }